@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* HEADER AND PARALLAX STYLES */

body{
    margin: 0;
    color: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-wrap{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

.parallax-wrap::before{
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("/resources/pinkbg.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(3);
}

.regular-wrap{
    width: 100vw;
    height:100vh;
    z-index: 2;
    position: relative;
}

header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 4rem;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 5rem;
    text-shadow: 2px 2px 2px dimgray;
}

header p{
    font-size: 2rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px dimgray;
    padding: .5em 0;
}

header a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px dimgray;
    font-size: 1.5rem;
    border-bottom: solid dimgray 2px;
    border-top: solid dimgray 2px;
    padding: .5rem 1rem .5rem 1rem;
    margin: 0 1em;
}

/* ABOUT STYLING */

.about{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightcyan;
}

h2{
    font-size: 2rem;
    color: black;
    padding: 1em 0;
    text-transform: uppercase;
}

.avatar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.avatar img{
    width: 75vw;
    border-radius: 50%;
    box-shadow: 2px 2px 2px dimgray;
}

.description{
    color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    padding: 1em 0;
    line-height: 2rem;
    font-size: 1.25rem;
}

.description a{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .25em;
}

.description h3{
    font-size: 2rem;
    padding-bottom: 1em;
}

/* GALLERY STYLING */

.projects{
    background-color: rgb(255, 147, 147);
    width: 100vw;
    height: 80vh;
}

.project-header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: 1em;
}

.project-header a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: .5em 1em;
    font-size: 1.25em;
    border-radius: 25px;
    font-weight: bold;
    background-color: lightcyan;
    opacity: 75%;
    text-align: center;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    position: relative;
}

.item a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    width: 105px;
    height: 105px;
    font-weight: bold;
    background-color: lightcyan;
    border-radius: 50%;
    padding: 1em;
    opacity: 75%;
}

.item img{
    width: 40vw;
    height: 40vw;
    margin: 0;
}

/*  FOOTER STYLING  */

.footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color:black;
    height: 60vh;
    background-color: lightcyan;
}

.footer h2{
    font-size: 2.5rem;
    padding: 1em;

}

.footer img{
    width: 25vw;
    padding: .5em;
    margin: 0 1em;
}


.footer-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1em 1em;
    margin: 0;
}

/*  MEDIA QUERIES  */


@media only screen and (min-width: 500px){
    h1{
        font-size: 7rem;
    }
    header p{
        font-size: 3rem;
    }
    header a{
        font-size: 2rem;
    }
    h2{
        font-size: 4rem
    }
    .about{
        height: 90vh;
    }
    .avatar img{
        width: 50vw;
    }
    .description h3{
        font-size: 3rem;
    }
    .description p{
        font-size: 2rem;
    }
    .description a{
        font-size: 2.5rem;
    }
    .projects{
        height: 120vh;
    }
    .project-header a{
        font-size: 1.5rem;
    }
    .item a{
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
    .footer{
        height: 50vh;
    }
}

@media only and screen (min-width: )